@tailwind base;
@tailwind components;
@tailwind utilities;

.widget {
  @apply h-full;
	line-height: 1.5;
	tab-size: 4;
	box-sizing: border-box;
	font-family: theme('fontFamily.sans', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"); /* 4 */

	-webkit-text-size-adjust: 100%;
	font-feature-settings: normal;
	font-variation-settings: normal;
	-webkit-tap-highlight-color: transparent;

	*,
	::before,
	::after {
		box-sizing: border-box; /* 1 */
		border-width: 0; /* 2 */
		border-style: solid; /* 2 */
		border-color: transparent; /* 2 */
	}

	a {
		color: inherit;
		text-decoration: inherit;
	}

  a:not(.btn) {
    @apply text-primary cursor-pointer font-medium decoration-0 outline-0;

    &:not(.btn):focus {
      outline: auto;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #202124;
    padding-bottom: 0;
    font-family: 'Montserrat', 'Noto Sans Myanmar UI', arial, sans-serif;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 0;
  }

  h1 {
    font-size: 20px;
    padding-top: 16px;
    font-weight: 400;
  }

  h2 {
    font-size: 16px;
    padding-top: 14px;
    font-weight: 400;
  }

  hr {
    @apply flex items-center text-center text-gray-500 my-2;

    &::before,
    &::after {
      @apply flex-1 border-b border-b-gray-400/25;
      content: '';
    }

    &:not(:empty)::before {
      @apply mr-4;
    }

    &:not(:empty)::after {
      @apply ml-4;
    }
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }


  button,
	input,
	optgroup,
	select,
	textarea {
		@apply bg-transparent;
		border-style: none;
		font-family: inherit; /* 1 */
		font-feature-settings: inherit; /* 1 */
		font-variation-settings: inherit; /* 1 */
		font-size: 100%; /* 1 */
		font-weight: inherit; /* 1 */
		line-height: inherit; /* 1 */
		color: inherit; /* 1 */
		margin: 0; /* 2 */
		padding: 0; /* 3 */
	}

	/*
	Use the modern Firefox focus style for all focusable elements.
	*/

	:-moz-focusring {
		outline: auto;
	}

	/*
	Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
	*/

	:-moz-ui-invalid {
		box-shadow: none;
	}

	/*
	Correct the cursor style of increment and decrement buttons in Safari.
	*/

	::-webkit-inner-spin-button,
	::-webkit-outer-spin-button {
		height: auto;
	}


	/*
	1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
	2. Set the default placeholder color to the user's configured gray 400 color.
	*/

	input::placeholder,
	textarea::placeholder {
		opacity: 1; /* 1 */
		color: theme('colors.gray.400', #9ca3af); /* 2 */
	}

	/*
	Set the default cursor for buttons.
	*/

	button,
	[role="button"] {
		cursor: pointer;
	}

	/*
	Make sure disabled buttons don't get the pointer cursor.
	*/
	:disabled {
		cursor: default;
	}

	/* Make elements with the HTML hidden attribute stay hidden by default */
	[hidden] {
		display: none;
	}

  p {
    margin: 0;
  }

  @media (min-width: 601px) {
    @apply flex flex-col relative justify-center;
  };


  &-content {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    min-height: 100%;
    position: relative;
    z-index: 2;

    @media (min-width: 601px) {
      display: block;
      margin: 16px auto;
      min-height: 0;
      width: 450px;
    }
		&-footer {
			p {
					@apply text-center;
			}
		}
    &-main {
			@apply relative pt-6 px-6 pb-8 bg-white;
      box-flex: 1;
      flex-grow: 1;
      overflow: hidden;

      &:has(.widget-content-footer) {
        @apply pb-0;
      }

      @media (min-width: 450px) {
				@apply px-8 py-8;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      @media (min-width: 601px) {
        border: 1px solid #dadce0;
        border-radius: 2px;
        height: auto;
        /*//min-height: 500px*/
        overflow-y: auto;
      }
    }

    &-actions {
      display: flex;
      justify-content: center;
      margin-top: 12px;
    }

    &-footer {
			@apply space-y-2
			mt-8 mb-0 -mx-8
			px-8 py-6;

      border: none;
      font-size: 14px;

      @media (min-width: 601px) {
        border-top: 1px solid #dadce0;
      }

    }

  }

	&-info-section {
		@apply text-center pb-4;
	}

	&-helpers-section {
		@apply text-center pt-4;
		line-height: 24px;

		a {
			padding-left: 4px;
		}
		+ .widget-content-footer {
			@apply mt-0;
		}
	}

	&-social-icons {
		@apply flex justify-center py-4 flex-wrap gap-2;
	}

	&-social-button.btn {
		@apply capitalize justify-start gap-2 bg-transparent text-gray-800 border border-gray-300 hover:bg-gray-100 hover:opacity-100;

		&-circle {
			@apply w-10 h-10 p-0 rounded-full overflow-hidden;

			.widget-social-icon {
				@apply w-10 h-10 ;
			}

			&:hover{
				filter: brightness(0.8);
			}
		}
	}

	&-social-icon {
		@apply w-8 h-8 flex-shrink-0;
		background-repeat: no-repeat;
		background-position: center center;
	}


	&-footer {
    @apply p-1;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 12px;
    line-height: 1.4;

    &-link-list {
      @apply flex gap-4 p-0 px-2 list-none my-0;

      a {
        color: #757575 !important;
        display: inline-block;
        transition: background .2s;
      }

      @media (min-width: 601px) {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }

  .logo-container {
    display: flex;
    justify-content: center;
    margin: 12px 0;
    min-height: 72px;

    .logo {
      object-fit: contain;
      max-width: 80%;
      max-height: 120px;
    }
  }

  .qr-code {
		@apply mx-auto mb-4;
    border: 1px solid lightgray;
		object-position: center;
		max-width: 220px; max-height: 220px;
  }

  .challenge-timer {
    margin-top: 16px;
  }

  .signin-challenges {
    padding-top: 8px;

    .signin-challenge {
      text-align: left;
      justify-content: start;
    }
  }


  input:-webkit-autofill {
    background: #fff;
    -webkit-text-fill-color: #000; /* Surcharge la font color d'autofill */
    -webkit-background-clip: text; /* Supprime le background autofill, utile pour le border radius */
    box-shadow: 0 0 0 50px #fff inset; /* Ajoute un fake background à base d'ombrage aplatit */
  }

}
