// Imports
@import 'variables'

// Theme
.btn:not(.btn--outlined)
  &.primary,
  &.secondary,
  &.accent,
  &.success,
  &.error,
  &.warning,
  &.info
    color: map-deep-get($material-theme, 'text', 'primary')

.btn
  color: map-deep-get($material-theme, 'text', 'primary')

  &.btn--disabled
    color: map-deep-get($material-theme, 'buttons', 'disabled') !important

    .icon,
    .btn__loading
      color: map-deep-get($material-theme, 'buttons', 'disabled') !important

    &:not(.btn--flat):not(.btn--text):not(.btn--outlined)
      background-color: map-deep-get($material-theme, 'buttons', 'focused') !important

  &:not(.btn--flat):not(.btn--text):not(.btn--outlined)
    background-color: map-get($material-theme, 'app-bar')

  &.btn--outlined.btn--text
    border-color: map-get($material-theme, 'dividers')

  &.btn--icon
    color: map-deep-get($material-theme, 'icons', 'active')

  +states($material-theme)

// Block
.btn
  align-items: center
  border-radius: $btn-border-radius
  display: inline-flex
  flex: 0 0 auto
  font-weight: $btn-font-weight
  letter-spacing: $btn-letter-spacing
  justify-content: center
  max-width: 100%
  outline: 0
  position: relative
  text-decoration: none
  text-indent: $btn-letter-spacing
  text-transform: uppercase
  transition-duration: $btn-transition-duration
  transition-property: box-shadow, transform, opacity
  transition-timing-function: $btn-transition-fn
  user-select: none
  vertical-align: middle
  white-space: nowrap
  font-size: .875rem
  height: 36px
  min-width: 64px // default ratio
  padding: 0 16px

  &:before
    border-radius: inherit
    bottom: 0
    color: inherit
    content: ''
    left: 0
    opacity: 0
    pointer-events: none
    position: absolute
    right: 0
    top: 0
    transition: $btn-transition

  &:before
    background-color: currentColor

  &:not(.btn--disabled)
    will-change: box-shadow

  &.btn--active:before
    opacity: $btn-active-opacity

  &:hover:before
    opacity: $btn-hover-opacity

  &:focus:before
    opacity: $btn-focus-opacity

  &--loading
    pointer-events: none
    transition: none
  &--fab
    height: unset
    border-radius: 50%
    min-width: 0
    min-height: 0
    padding: 0

// Elements
.btn__content
  align-items: center
  color: inherit
  display: flex
  flex: 1 0 auto
  justify-content: inherit
  line-height: normal
  position: relative

.btn__loader
  align-items: center
  display: flex
  height: 100%
  justify-content: center
  left: 0
  position: absolute
  top: 0
  width: 100%

.btn--block
  display: flex
  flex: 1 0 auto
  min-width: 100% !important


.btn--disabled
  box-shadow: none
  pointer-events: none


.btn--loading
  pointer-events: none
  transition: none

  .btn__content
    opacity: 0

.btn--flat
  background-color: transparent

