!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
*.iws
*.lcov
*.log
*.map
*.pid
*.pid.lock
*.seed
*.tgz
*.tsbuildinfo
.DS_Store
.cache
.env
.env.local
.env.test
.eslintcache
.idea
.idea/**/contentModel.xml
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources/
.idea/**/dbnavigator.xml
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/**/shelf
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/usage.statistics.xml
.idea/**/workspace.xml
.idea/httpRequests
.idea_modules/
.lock-wscript
.node_repl_history
.npm
.nyc_output
.vscode
.vscode/*
.yarn-integrity
cjs
coverage
esm
jspm_packages/
lerna-debug.log*
logs
node_modules/
npm-debug.log*
out/
pids
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
typings/
umd
yarn-debug.log*
yarn-error.log*
/dist
