!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
*.iws
*.lcov
*.log
*.map
*.pid
*.pid.lock
*.seed
*.tgz
*.tsbuildinfo
.DS_Store
.cache
.env
.env.local
.env.test
.eslintcache
.idea
.idea/**/contentModel.xml
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources/
.idea/**/dbnavigator.xml
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/**/shelf
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/usage.statistics.xml
.idea/**/workspace.xml
.idea/httpRequests
.idea_modules/
.lock-wscript
.node_repl_history
.npm
.nyc_output
.vscode
.vscode/*
.yarn-integrity
cjs
coverage
esm
jspm_packages/
lerna-debug.log*
logs
node_modules/
npm-debug.log*
out/
pids
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
typings/
umd
yarn-debug.log*
yarn-error.log*
/dist/types/src/i18n/en.d.ts
/dist/types/src/i18n/index.d.ts
/dist/types/src/ui/components/PAlert/PAlert.d.ts
/dist/types/src/ui/components/PasswordStrength/PasswordStrength.d.ts
/dist/types/src/ui/components/PBtn/PBtn.vue.d.ts
/dist/types/src/ui/components/PCheckBox/PCheckBox.vue.d.ts
/dist/types/src/ui/components/PCodeInput/PCodeInput.d.ts
/dist/types/src/ui/components/PMessage/PMessage.d.ts
/dist/types/src/ui/components/PSpinner/PSpinner.d.ts
/dist/types/src/ui/components/PTextField/PTextField.vue.d.ts
/dist/types/src/ui/components/PTimer/PTimer.d.ts
/dist/types/src/ui/components/Footer.vue.d.ts
/dist/types/src/ui/components/GenericForm.vue.d.ts
/dist/types/src/ui/components/Hand.vue.d.ts
/dist/types/src/ui/components/index.d.ts
/dist/types/src/ui/components/PForm.vue.d.ts
/dist/types/src/ui/components/SocialConnectionButton.d.ts
/dist/types/src/ui/composables/focus.d.ts
/dist/types/src/ui/composables/form.d.ts
/dist/types/src/ui/composables/proxied_model.d.ts
/dist/types/src/ui/composables/toggle_scope.d.ts
/dist/types/src/ui/composables/validation.d.ts
/dist/types/src/ui/directives/i18n.d.ts
/dist/types/src/ui/interfaces/index.d.ts
/dist/types/src/ui/utils/theme/index.d.ts
/dist/types/src/ui/utils/theme/theme_utils.d.ts
/dist/types/src/ui/utils/check_passsword_strength.d.ts
/dist/types/src/ui/utils/current_instance.d.ts
/dist/types/src/ui/utils/customizable_form.d.ts
/dist/types/src/ui/utils/fetch.d.ts
/dist/types/src/ui/utils/form_generics.d.ts
/dist/types/src/ui/utils/fv_helper.d.ts
/dist/types/src/ui/utils/helpers.d.ts
/dist/types/src/ui/utils/index.d.ts
/dist/types/src/ui/utils/props_factory.d.ts
/dist/types/src/ui/utils/router.d.ts
/dist/types/src/ui/utils/translator.d.ts
/dist/types/src/ui/views/mfa/Challenge.vue.d.ts
/dist/types/src/ui/views/mfa/Email.vue.d.ts
/dist/types/src/ui/views/mfa/FingerVein.vue.d.ts
/dist/types/src/ui/views/mfa/OTP.vue.d.ts
/dist/types/src/ui/views/mfa/SMS.vue.d.ts
/dist/types/src/ui/views/mfa/WebAuthN.vue.d.ts
/dist/types/src/ui/views/passwordless/Email.vue.d.ts
/dist/types/src/ui/views/passwordless/OTP.vue.d.ts
/dist/types/src/ui/views/passwordless/Push.vue.d.ts
/dist/types/src/ui/views/passwordless/SMS.vue.d.ts
/dist/types/src/ui/views/Consent.vue.d.ts
/dist/types/src/ui/views/FillMissing.vue.d.ts
/dist/types/src/ui/views/ForgotPassword.vue.d.ts
/dist/types/src/ui/views/Login.vue.d.ts
/dist/types/src/ui/views/Register.vue.d.ts
/dist/types/src/ui/views/ResetPassword.vue.d.ts
/dist/types/src/ui/views/VerifyEmail.vue.d.ts
/dist/types/src/ui/index.d.ts
/dist/types/src/ui/widget.d.ts
/dist/types/src/index.d.ts
/dist/types/dev.d.ts
/dist/types/tailwind.config.d.ts
/dist/types/vite.config.d.ts
/dist/index.css
/dist/plusauth-widget.esm.js
/dist/plusauth-widget.min.js
