.pw-strength {
  font-family: Montserrat-Regular, sans-serif;
  font-size: 12px;
  text-align: left;
  position: relative;
  padding-left: 4px;
  display: flex;
  flex-flow: row wrap;

  .pw-policy {
    width: 100%;
    @media (min-width: 601px) {
      width: 50%;
    }
    span {
      padding-right: 4px;
    }
  }
}
