.widget {
    .pw-strength {
    @apply space-y-2;
        @media (min-width: 601px) {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            justify-content: center;
            row-gap: 0;
            gap: 0.5rem;
        }

        .pw-policy {
            @apply flex;
            font-size: var(--pa-fs-p);
            font-weight: var(--pa-fw-p);
            
      span {
        @apply pr-0.5;
      }
        }
    }
}