.messages
  flex: 1 1 auto
  font-size: 12px
  min-height: 16px
  min-width: 1px // Ensure takes up space with no messages and inside of flex
  position: relative
  text-align: left

  &__message
    line-height: 16px
    word-break: break-word
    overflow-wrap: break-word
    word-wrap: break-word


.message-transition-enter-active
  transition: all .3s ease-out

.message-transition-leave-active
  transition: all .1s ease-out

.message-transition-enter-from
  transform: translateX(20px)
  opacity: 0
.message-transition-leave-to
  transform: translateX(-20px)
  opacity: 0
