.widget {
    .input-checkbox {
        &.input {
            @apply relative cursor-pointer;

            .input--wrap {
                @apply ring-0 border-0 items-center outline-none;
                
                &:focus,
                .focus--demo,
                &:focus-within {
                    @apply ring-0 outline-none;
                }
            }

            .input--label {
                @apply pointer-events-auto inline-flex relative cursor-pointer w-full h-full flex-1;
                transform-origin: unset;
                top: unset;
                left: unset;
                transform: unset;
                font-size: var(--pa-fs-p);
                font-weight: var(--pa-fw-p);
                &:focus,
                &:focus-within {
                    color: #5f6368;
                }
            }

            input[type=checkbox] {
                @apply border-gray-300 relative mr-2 w-6 h-6 cursor-pointer block outline-none ring-0 ring-offset-0;
                border-radius: var(--pa-input-radius);
                appearance: none;
                font-variation-settings: inherit;
                font-weight: inherit;
                line-height: inherit;

                &:focus,
                &:focus-visible,
                &:active {
                    outline: none !important;
                    box-shadow: none !important;
                    @apply ring-0 ring-offset-0;
                }
            }

            input[type=checkbox]:before {
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                border: var(--pa-input-border-w) solid gray;
                border-radius: var(--pa-input-radius);
                background-color: white;
            }

            input[type=checkbox]:checked {
                &:before {
                    border-color: currentColor;
                    background: currentColor;
                }

                &:after {
                    content: "";
                    display: block;
                    width: 30%;
                    height: 60%;
                    border: solid white;
                    border-width: 0 3px 3px 0;
                    transform: rotate(45deg);
                    position: absolute;
                    top: 13%;
                    left: 35%;
                }
            }

            &--error,
            &--dirty {
                input[type=checkbox]:before {
                    border-color: currentColor;
                }
            }
        }
    }
}