.input
  color: map-deep-get($material-theme, 'text', 'primary')
  &--wrap
    border-color: map-deep-get($material-theme, 'text', 'primary')

  input,
  textarea
    color: map-deep-get($material-theme, 'text', 'primary')

  input::placeholder,
  textarea::placeholder
    color: map-deep-get($material-theme, 'text', 'disabled')

  &-disabled
    color: map-deep-get($material-theme, 'text', 'disabled')

    input,
    textarea
      color: map-deep-get($material-theme, 'text', 'disabled')

  .input--label
    color: map-deep-get($material-theme, 'text', 'secondary')
    a
      pointer-events: auto


.input
    display: flex
    //flex: 1 1 auto
    font-size: 16px
    letter-spacing: normal
    max-width: 100%
    text-align: left
    flex-direction: column
    //margin-top: 4px

    &--wrap
        margin-top: 12px
        display: flex
        flex-wrap: wrap
        align-items: flex-end
        width: 100%
        position: relative
        background: #fff
        border: 1px solid #B5C6D9
        border-radius: 2px

        input.text-field
          display: flex
          flex: 1 1 auto
          background: transparent
          font: 15px Montserrat, sans-serif !important
          color: #555555
          line-height: 1.2
          padding: 0 12px
          min-height: 45px
          min-width: 0px
          transition: all 0.3s
          border-radius: inherit
          &:focus::-webkit-input-placeholder
              color: transparent
          &:focus
              outline: none
              border-color: transparent !important

          &:-internal-autofill-selected,
          &:-webkit-autofill::first-line,
          &:-webkit-autofill,
          &:-webkit-autofill:hover,
          &:-webkit-autofill:focus,
          &:-webkit-autofill:active
            font: 15px Montserrat, sans-serif !important
            -webkit-box-shadow: 0 0 0 30px white inset !important

    &--label
        user-select: none
        font-family: Montserrat, sans-serif
        font-size: 15px
        color: inherit
        line-height: 1
        left: 10px
        background-color: #fff
        display: block
        position: absolute
        pointer-events: none
        top: 15px
        transform-origin: top left
        transition: all .15s cubic-bezier(.4,0,.2,1),opacity .15s cubic-bezier(.4,0,.2,1),background-color .15s cubic-bezier(.4,0,.2,1)

    &-details
      padding-left: 12px

    input:-webkit-autofill + .input--label
      transform: translateY(-20px) scale(.75)

    &-has-error
      .input--wrap
        box-shadow: 0 0 1px 1px currentColor

    &-focused, &-has-error, &-has-state
      &:has(:not(:read-only))
        .input--wrap
          border-color: currentColor

    &-focused, &-has-error
      .input--label
        color: currentColor !important
        transform: translateY(-22px) scale(.75)

    &-has-value
      .input--label
        transform: translateY(-22px) scale(.75)

.pw-toggle-visibility
  display: flex
  height: unset !important
  border-radius: 0 2px 2px 0
  border-left: inherit
  margin-left: 2px
  align-self: stretch
  color: inherit
  flex: 1 1
  min-height: 32px
  &.btn
    font-family: Montserrat, sans-serif
    font-size: 0.775rem !important
    min-width: 52px

@media (max-width: 401px)
  .pw-toggle-visibility
    &.btn
      border-left: none
.form-error
  color: red
  text-align: left
  font-size: 14px
  height: 20px
  margin-bottom: 8px
  padding-left: 16px

.input-dense
  &.input
    input:-webkit-autofill + .input--label
      transform: translateY(-20px) scale(.75)

    &-focused, &-has-error, &-has-state, &-has-value
      .input--label
        top: 15px
  .input
    &--label
      top: 10px

.input-flat
  &.input
    input:-webkit-autofill + .input--label
      transform: none
    &-focused, &-has-error, &-has-state
      .input--label
        transform: none
        top: 10px
    &-has-value
      .input--label
        display: none
  &.input-focused .input--wrap
    outline: auto
  .input
    &--wrap
      border: none
      margin: 0
    &--label
      top: 10px
