@mixin transition-default() {
  &-enter-active,
  &-leave-active {
    transition: $primary-transition;
  }

  &-move {
    transition: transform .6s;
  }
}

.pa__widget
  .message-transition {
    @include transition-default();

    &-enter-from, &-leave-to {
      opacity: 0;
      transform: translateY(-8px);
    }

    &-leave-from, &-leave-active {
      position: absolute;
    }
  }

  .slide-x-transition {
    @include transition-default();

    &-enter-from, &-leave-to {
      opacity: 0;
      transform: translateX(-15px);
    }
  }

  .slide-x-reverse-transition {
    @include transition-default();

    &-enter-from, &-leave-to {
      opacity: 0;
      transform: translateX(15px);
    }
  }
