@unocss;

.widget {
    .input {
        @apply flex flex-col w-full text-lg relative flex-wrap mt-3;

        &--wrap {
            @apply flex w-full min-w-0;
            border-radius: var(--pa-input-radius);
            border: var(--pa-input-border-w) solid #d1d5db; 
            --input-ring-color: #d1d5db;
            transition: border-color 0.2s, box-shadow 0.2s;
        }

        letter-spacing: normal;
        flex-direction: column;

        input.text-field {
            @apply text-black;
            display: flex;
            flex: 1 1 auto;
            background: transparent;
            font-family: var(--pa-font-family) !important;
            font-size: var(--pa-fs-p);
            font-weight: var(--pa-fw-p);
            line-height: 1.2;
            padding: 0 12px;
            min-height: 45px;
            min-width: 0px;
            transition: all 0.3s;
            border-radius: inherit;

            &:focus::-webkit-input-placeholder {
                color: transparent;
            }

            &:focus {
                outline: none;
            }

            &:-internal-autofill-selected,
            &:-webkit-autofill::first-line,
            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus,
            &:-webkit-autofill:active {
                font-family: var(--pa-font-family) !important;
                -webkit-box-shadow: 0 0 0 30px white inset !important;
            }

            & + .btn {
                @apply flex h-auto self-stretch flex-1 active:ring-0 focus:ring-0 focus:bg-black/5;
                border-radius: var(--pa-input-radius);
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                color: black;
                border-inline-start: var(--pa-input-border-w) solid var(--input-ring-color);
                margin-block: calc(var(--pa-input-border-w) * -1);
                margin-inline-end: calc(var(--pa-input-border-w) * -1);
            }
        }

        &--label {
            @apply absolute select-none pointer-events-none start-2 bg-white px-1;
            font-family: var(--pa-font-family);
            font-weight: 500;
            font-size: 18px;
            color: #5f6368;
            top: calc(theme('fontSize.base') / 2.5);
            transform-origin: top left;
            transition: all .15s cubic-bezier(.4, 0, .2, 1), color 0s, opacity .15s cubic-bezier(.4, 0, .2, 1), background-color .15s cubic-bezier(.4, 0, .2, 1);
        }

        &-details {
            @apply mt-1 ps-0.5;
            font-size: 12px;
            font-family: var(--pa-font-family);
            text-align: start;
        }

        &--error {
            color: rgb(var(--pa-color-error)) !important;

            .input--wrap {
                border-color: rgb(var(--pa-color-error)) !important;
                --input-ring-color: rgb(var(--pa-color-error)) !important;
                box-shadow: 0 0 0 1px rgb(var(--pa-color-error)) !important;
            }

            .input--label {
                color: rgb(var(--pa-color-error)) !important;
            }
        }

        &--focused:not(.input--error) {
            .input--wrap {
                border-color: rgb(var(--pa-color-primary));
                --input-ring-color: rgb(var(--pa-color-primary));
                box-shadow: 0 0 0 1px rgb(var(--pa-color-primary)); 
            }
            .input--label {
                color: rgb(var(--pa-color-primary)) !important;
            }
        }

        &:has(input:is(:-webkit-autofill, :autofill)) .input--label {
            transform: translateY(-22px) scale(.85);
        }

        &:has([placeholder]),
        &--focused,
        &--error,
        &--has-value {
            .input--label {
                transform: translateY(-22px) scale(.85);
            }
        }

        input[readonly] {
            @apply cursor;
        }
    }
}